<div class="header">
  <li class="link">
    <a routerLink="/story">CHI SIAMO</a>
  </li>
  <li class="link">
    <button class="service" (click)="showList = true">
      <a>SERVIZI</a>
      <app-tendina class="tenda" *ngIf="showList"></app-tendina>
      <i class="fa-solid fa-chevron-right"></i>
    </button>
  </li>
  <a routerLink=""><img src="assets/logo.svg" alt="logo not load"></a>
  <li class="link">
    <a routerLink="/registration"> REGISTRAZIONE </a>
  </li>
  <li class="link">
    <a routerLink="/carrello">CARRELLO</a>
  </li>
  <div class="social">
    <a href="https://www.instagram.com/autodemolizionemultiservicesrl/?hl=it" target="_blank"><img id="instagram" src="assets/instagram.png" alt="icon not load"></a>
  </div>
</div>
