<footer class="footer">
  <div class="contatti">
    <h3 class="title">Contatti</h3>
    <li>Tel (Cressa): 0322 863611</li>
    <li>Tel (Novara): 0321 1828255</li>
    <li>Cell (magazzino): +39 339 4347663</li>
    <li>amministrazione@autodemolizionimultiservice.it</li>
    <li>ricambi@autodemolizionimultiservice.it</li>
    <li>vendite@autodemolizionimultiservice.it</li>
    <li>demolizioni@autodemolizionimultiservice.it</li>
    <li>PEC: multiservicecressa@pec.it</li>
  </div>
  <div class="orari">
    <h3 class="title">Orari di apertura</h3>
    <li>Lunedì: 8:30-12:30, 14:00-18:30</li>
    <li>Martedì: 8:30-12:30, 14:00-18:30</li>
    <li>Mercoledì: 8:30-12:30, 14:00-18:30</li>
    <li>Giovedì: 8:30-12:30, 14:00-18:30</li>
    <li>Venedì: 8:30-12:30, 14:00-18:30</li>
    <li>Sabato: 8:30-12:30</li>
    <li>Domenica: chiuso</li>

  </div>
  <div class="naviga">
    <h3 class="title">Navigazione</h3>
    <li><a routerLink="/demolizioni">Demolizioni</a></li>
    <li><a routerLink="/carrozzeria">Carrozzeria</a></li>
    <li><a routerLink="/gommista">Gommista</a></li>
    <li><a routerLink="/officina">Officina meccanica ed elettrauto</a></li>
    <li><a routerLink="/ricambi">Vendita ricambi nuovi ed usati</a></li>
    <li><a routerLink="/vendita">Acquisto e vendita auto usate e sinistrate</a></li>
    <li><a routerLink="/carrello">Carrello</a></li>

  </div>
  <img src="assets/logo-bw.png" alt="logo not load">
  <div class="legal-info">
    <p class="legal">Copyright © 2023 Multiservice S.R.L. - P.iva 02630280036</p>
  </div>




</footer>
