
<app-header></app-header>
<div class="prodcontainer">
  <div class="prodleft">
    <img class="bigimg" [src]="immagineAttuale" alt="img not load">
    <div class="prodimg">
      <img *ngFor="let immagine of immaginiSmall; let i = index" [src]="immagine" alt="img not load" class="smallimg" (click)="cambiaImmagine(i)">    </div>
    <div class="prodhelp">
      <div class="sezionehelp">
        <h3 (click)="toggleSpedizione()" [@slideUpDown]>come funziona la spedizione?<i class="fa-solid fa-chevron-down"></i></h3>
        <p class="slide-down" [@slideUpDown] *ngIf="mostraSpedizione">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo placeat veritatis voluptatum odio minima maiores ducimus provident sunt. Recusandae veniam nostrum amet assumenda, aut alias sequi illo non praesentium nesciunt.</p>
      </div>
      <div class="sezionehelp">
        <h3 (click)="toggleAcquisto()">come acquisto?<i class="fa-solid fa-chevron-down"></i></h3>
        <p class="slide-down" [@slideUpDown] *ngIf="mostraAcquisto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut vero quidem alias laboriosam accusantium dolorem dignissimos. Libero necessitatibus sunt quia, minima, voluptatem autem veniam esse dolores, natus soluta laborum dicta.</p>
      </div>
      <div class="sezionehelp">
        <h3 (click)="toggleMoreInfo()">maggiori info<i class="fa-solid fa-chevron-down"></i></h3>
        <p class="slide-down" [@slideUpDown] *ngIf="mostraMoreInfo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore id sit doloribus iusto nostrum distinctio ducimus! Adipisci minima eveniet beatae a numquam excepturi Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis accusantium, rem cupiditate totam suscipit fugiat voluptate velit repellat necessitatibus doloremque neque voluptates expedita quam animi. Qui totam provident doloremque labore! repudiandae harum quos officia nulla, quam quis.</p>
      </div>
    </div>
  </div>
  <div class="prodright">
    <div class="prodfirst">
      <h1>TITOLO <img class="prodshare" src="assets/simbols/share-button.svg" alt="button not load"></h1>
      <h2>colori disponibili <p class="proddisponibilità">disponibile</p></h2>
      <h2>500€ <button class="addandpay">aggiungi al carrello</button></h2>
    </div>
    <div class="prodimportant">
      <h3>Informazioni del ricambio</h3>
      <p><b>Qualità:</b>Ottima</p>
      <p><b>Codice prodotto:</b>ab123cd45</p>
      <p><b>Note importanti:</b>questa è una versione di prova</p>
    </div>
    <div class="prodinfo">
      <div class="prodspecific">
        <h3>Specifiche auto d'origine</h3>
        <p><b>Marca:</b>OPEL</p>
        <p><b>Modello:</b>ASTRA «G» (1998)</p>
        <p><b>Versione:</b>1.7 CDTi, 16v. Berlina, 5 p.</p>
        <p><b>Codice motore:</b>Z17DTL</p>
        <p><b>Anno:</b>2004</p>
        <p><b>Posizione volante:</b>Sinistra</p>
        <p><b>Tipo carburante:</b>Diesel</p>
        <p><b>Cilindrata:</b>1686</p>
        <p><b>KW:</b>59</p>
        <p><b>Tipo di cambio:</b>Manuale</p>
        <p><b>Trazione:</b>Anteriore</p>
      </div>
      <div class="prodadvise">
        <h2>Pezzi Corellati</h2>
        <img src="assets/prova.jpg" alt="img not load" class="mediumimg">
        <img src="assets/prova.jpg" alt="img not load" class="mediumimg">
        <img src="assets/prova.jpg" alt="img not load" class="mediumimg">
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
