<form >
    <div class="formcontainer">
        <div class="registration">
          <a href="home"><img src="assets/logo.svg" alt=""></a>
          <h2>Registrazione</h2>
          <div class="choose">
            <section>
              <input type="radio" id="privato" name="tipoUtente" value="privato" [(ngModel)]="isAzienda"/>
              <label for="privato">Privato</label>
            </section>
            <section>
              <input type="radio" id="azienda" name="tipoUtente" value="azienda" [(ngModel)]="isAzienda"/>
              <label for="azienda">Azienda</label>
            </section>
          </div>
          <section *ngIf="currentSection === 1 && isAzienda === 'azienda'" [@slideInOut]="'enter'" [formGroup]="registerFormAzienda">
            <div class="colonna">
              <input type="email" name="mail" class="" placeholder="E-mail" formControlName="email">
              <input type="password" name="password" class="" placeholder="Password" formControlName="password">
              <input type="text" name="fiscale" class="" placeholder="Codice Fiscale" formControlName="codiceFiscale">
            </div>
            <div class="colonna">
              <input type="text" name="nazione" class="" placeholder="Nazione" formControlName="nazione">
              <input type="password" name="verification" class="" placeholder="Conferma Password" formControlName="verPassword">
              <input type="text" name="iva" class="" placeholder="P.Iva" formControlName="partivaIva">
            </div>
          </section>
          <section *ngIf="currentSection === 2 && isAzienda === 'azienda'" class="transition-slide"  [@slideInOut]="'enter'" [formGroup]="registerFormAzienda">
            <section>
            <input type="text" name="ragioneSociale" class="alone" placeholder="Ragione Sociale" formControlName="ragioneSociale">
          </section>
            <div class="colonna">
              <input type="text" name="codicesdi" class="" placeholder="Codice SDI" formControlName="codiceSdi">
              <input type="text" name="Indirizzo" class="" placeholder="Indirizzo" formControlName="indirizzo">
              <input type="text" name="città" class="" placeholder="Città" formControlName="citta">
              <input type="text" name="telefono" class="" placeholder="Telefono" formControlName="telefono">
            </div>
            <div class="colonna">
              <input type="text" name="pec" class="" placeholder="PEC" formControlName="pec">
              <input type="text" name="cap" class="" placeholder="CAP" formControlName="cap">
              <input type="text" name="provincia" class="" placeholder="Provincia" formControlName="provincia">
              <input type="text" name="cellulare" class="" placeholder="Cellulare" formControlName="cellulare">
            </div>
          </section>
          <section *ngIf="currentSection === 3 && isAzienda === 'azienda'" class="transition-slide"  [@slideInOut]="'enter'" [formGroup]="registerFormAzienda">
            <section>
            <input type="text" name="spedizioneRagioneSociale" class="alone" placeholder="Ragione Sociale o Cognome e Nome" formControlName="spedizioneRagioneSociale">
          </section>
          <div class="colonna">
              <input type="text" name="spedizioneIndirizzo" class="" placeholder="Indirizzo" formControlName="spedizioneIndirizzo">
              <input type="text" name="spedizioneCittà" class="" placeholder="Città" formControlName="spedizioneCitta">
              <input type="text" name="spedizioneCap" class="" placeholder="CAP" formControlName="spedizioneCap">
            </div>
            <div class="colonna">
              <input type="text" name="spedizioneCellulare" class="" placeholder="Nazione" formControlName="spedizioneNazione">
              <input type="text" name="spedizioneProvincia" class="" placeholder="Provincia" formControlName="spedizioneProvincia">
              <input type="text" name="spedizioneCellulare" class="" placeholder="Cellulare" formControlName="spedizioneCellulare">
          </div>
          </section>
          <section *ngIf="currentSection === 1 && isAzienda === 'privato'" [@slideInOut]="'enter'" [formGroup]="registerForm">
            <div class="colonna">
              <input type="email" name="mail" class="" placeholder="E-mail" formControlName="email">
              <input type="password" name="password" class="" placeholder="Password" formControlName="password">
            </div>
            <div class="colonna">
              <input type="text" name="nazione" class="" placeholder="Nazione" formControlName="nazione">
              <input type="password" name="verification" class="" placeholder="Conferma Password" formControlName="verPassword">
            </div>
            <input type="text" name="codiceFiscale" class="alone" placeholder="Codice Fiscale" formControlName="codiceFiscale" pattern="^[A-Z]{6}\d{2}[A-Z]\d{2}[A-Z]\d{3}[A-Z]$">
          </section>
          <section *ngIf="currentSection === 2 && isAzienda === 'privato'" class="transition-slide"  [@slideInOut]="'enter'" [formGroup]="registerForm">
            <section>
            <input type="text" name="cognomeNome" class="alone" placeholder="Cognome e Nome" formControlName="nome">
            <input type="text" name="indirizzo" class="alone" placeholder="Indirizzo" formControlName="indirizzo">
          </section>
            <div class="colonna">
              <input type="text" name="città" class="" placeholder="Città" formControlName="citta">
              <input type="text" name="cap" class="" placeholder="CAP" formControlName="cap">
            </div>
            <div class="colonna">
              <input type="text" name="provincia" class="" placeholder="Provincia" formControlName="provincia">
              <input type="text" name="cellulare" class="" placeholder="Cellulare" formControlName="cellulare">
            </div>
          </section>
          <section *ngIf="currentSection === 3 && isAzienda === 'privato'" class="transition-slide"  [@slideInOut]="'enter'" [formGroup]="registerForm">
            <section>
            <input type="text" name="spedizioneCognomeNome" class="alone" placeholder="Cognome e Nome" formControlName="spedizioneCognomeNome">
          </section>
          <div class="colonna">
              <input type="text" name="spedizioneIndirizzo" class="" placeholder="Indirizzo" formControlName="spedizioneIndirizzo">
              <input type="text" name="spedizioneCittà" class="" placeholder="Città" formControlName="spedizioneCitta">
              <input type="text" name="spedizioneCap" class="" placeholder="CAP" formControlName="spedizioneCap">
            </div>
            <div class="colonna">
              <input type="text" name="spedizioneCellulare" class="" placeholder="Nazione" formControlName="spedizioneNazione">
              <input type="text" name="spedizioneProvincia" class="" placeholder="Provincia" formControlName="spedizioneProvincia">
              <input type="text" name="spedizioneCellulare" class="" placeholder="Cellulare" formControlName="spedizioneCellulare">
          </div>
          </section>
          <p id="check1"><input type="checkbox" id="spedizione" name="spedizione" [(ngModel)]="checkboxValue" (change)="onCheckboxChange()"><label for="spedizione"><b>Indirizzo di spedizione differente da quello di fatturazione</b></label></p>
          <p id="check2"><input type="checkbox" id="privacy" name="privacy" ><label for="privacy"><b>Ho letto e acconsento l'<i>Informativa sulla Privacy</i></b></label></p>
          <input type="submit" value="Avanti" [value]="currentSection === totalSections ? 'Invia' : 'Avanti'" (click)="currentSection === totalSections ? onInviadati() : nextSection()">
          <input type="submit" value="Indietro" (click)="previousSection()">
        </div>
    </div>
</form>
