<body>
  <section class="carosello">
    <div class="slider">
      <ul class="list">
        <li class="logo">
          <span><img src="assets/logocar/stellantis/Abarth.png" alt="logo not load"></span>
        </li>
        <li class="logo">
          <span><img src="assets/logocar/stellantis/alfaromeo.png" alt="logo not load"></span>
        </li>
        <li class="logo" id="special">
          <span><img src="assets/logocar/stellantis/chrysler.png" alt="logo not load"></span>
        </li>
        <li class="logo">
          <span><img src="assets/logocar/stellantis/citroen.png" alt="logo not load"></span>
        </li>
        <li class="logo">
          <span><img src="assets/logocar/stellantis/dodge.png" alt="logo not load"></span>
        </li>
        <li class="logo">
          <span><img src="assets/logocar/stellantis/ds.png" alt="logo not load"></span>
        </li>
        <li class="logo">
          <span><img src="assets/logocar/stellantis/fiat.png" alt="logo not load"></span>
        </li>
        <li class="logo">
          <span><img src="assets/logocar/stellantis/fiatpro.png" alt="logo not load"></span>
        </li>
        <li class="logo">
          <span><img src="assets/logocar/stellantis/jeep.png" alt="logo not load"></span>
        </li>
        <li class="logo">
          <span><img src="assets/logocar/stellantis/lancia.png" alt="logo not load"></span>
        </li>
        <li class="logo">
          <span><img src="assets/logocar/stellantis/maserati.png" alt="logo not load"></span>
        </li>
        <li class="logo">
          <span><img src="assets/logocar/stellantis/opel.png" alt="logo not load"></span>
        </li>
        <li class="logo">
          <span><img src="assets/logocar/stellantis/peugeot.png" alt="logo not load"></span>
        </li>
        <li class="logo">
          <span><img src="assets/logocar/stellantis/ram.png" alt="logo not load"></span>
        </li>
        <li class="logo">
          <span><img src="assets/logocar/stellantis/vauxhall.png" alt="logo not load"></span>
        </li>
      </ul>
    </div>




  </section>
  </body>
