<app-header></app-header>

<div class="cartcontainer">
  <img class="categories" src="assets/carrellousato.png" alt="nope">
  <div class="cartheader">
    <p class="bigger"><b>IL TUO CARRELLO</b></p>
    <p>Prezzo</p>
    <p>Sede</p>
    <p>Qualità</p>
  </div>
  <div class="cartcard">
    <div class="cartgeneral">
      <img src="assets/prova.jpg" alt="papope">
      <p class="carttitle">Fanale posteriore destro</p>
      <p class="cartspecific">Daewoo - Chevrolet MATIZ Chevrolet (05>07<)(07>09<) 800 Ber. 5p/b/796cc</p>
    </div>
    <div class="cartinfo">
      <p>700€</p>
    </div>
    <div class="cartinfo">
      <p>Novara</p>
    </div>
    <div class="cartinfo">
      <p>eccellente</p>
    </div>
  </div>
  <div class="cartcard">
    <div class="cartgeneral">
      <img src="assets/prova.jpg" alt="papope">
      <p class="carttitle">Fanale posteriore destro</p>
      <p class="cartspecific">Daewoo - Chevrolet MATIZ Chevrolet (05>07<)(07>09<) 800 Ber. 5p/b/796cc</p>
    </div>
    <div class="cartinfo">
      <p>700€</p>
    </div>
    <div class="cartinfo">
      <p>Novara</p>
    </div>
    <div class="cartinfo">
      <p>eccellente</p>
    </div>
  </div>
  <img class="categories" src="assets/carrellonuovo.png" alt="">
  <div class="cartheader">
    <p class="bigger"><b>IL TUO CARRELLO</b></p>
    <p>Prezzo</p>
    <p>Quantità</p>
    <p>Totale</p>
  </div>
  <div class="cartcard">
    <div class="cartgeneral">
      <img src="assets/prova.jpg" alt="papope">
      <p class="carttitle">Fanale posteriore destro</p>
      <p class="cartspecific">Daewoo - Chevrolet MATIZ Chevrolet (05>07<)(07>09<) 800 Ber. 5p/b/796cc</p>
    </div>
    <div class="cartinfo">
      <b class="absolute">Prezzo</b>
      <p>700€</p>
    </div>
    <div class="cartinfo">
      <b class="absolute">Quantità</b>
      <p>1/2/3</p>
    </div>
    <div class="cartinfo">
      <b class="absolute">Totale</b>
      <p>15550€</p>
    </div>
  </div>
  <div class="cartcard">
    <div class="cartgeneral">
      <img src="assets/prova.jpg" alt="papope">
      <p class="carttitle">Fanale posteriore destro</p>
      <p class="cartspecific">Daewoo - Chevrolet MATIZ Chevrolet (05>07<)(07>09<) 800 Ber. 5p/b/796cc</p>
    </div>
    <div class="cartinfo">
      <b class="absolute">Prezzo</b>
      <p>700€</p>
    </div>
    <div class="cartinfo">
      <b class="absolute">Quantità</b>
      <p>1/2/3</p>
    </div>
    <div class="cartinfo">
      <b class="absolute">Totale</b>
      <p>15550€</p>
    </div>
  </div>
  <div class="carttotal">totale carrelo: <b class="totalprice">500€</b><i class="piccolo">+spedizione</i>
  <br>
  <p class="paymetod">Metodi di pagamenti accettati: img img img img img</p> <button class="checkout"><b>Paga ora</b></button>
  </div>
</div>

<app-footer></app-footer>
