<app-header></app-header>

<div class="cartcontainer">
  <img class="categories" src="assets/carrellousato.png" alt="nope">
  <div class="cartheader">
    <p class="bigger"><b>IL TUO CARRELLO</b></p>
    <p>Prezzo</p>
    <p>Sede</p>
    <p>Qualità</p>
  </div>
  <div *ngIf="cartService.showCodeHTML=== false " class="emptymessage">
    Aggiungi nuovi articoli al carrello
  </div>
  <div class="cartcard" *ngIf="cartService.showCodeHTML && cartService.currentIndex === 0 && cartService.condizioni === 'usato'">
      <div class="cartgeneral">
        <img src="assets/prova.jpg" alt="img not load">
        <p class="carttitle">Fanale posteriore destro</p>
        <p class="cartspecific">Daewoo - PROVA MATIZ  usato Chevrolet (05>07<)(07>09<) 800 Ber. 5p/b/796cc</p>
      </div>
      <div class="cartinfo">
        <p>700€</p>
      </div>
      <div class="cartinfo">
        <p>Novara</p>
      </div>
      <div class="cartinfo">
        <p>eccellente</p>
      </div>
      <button class="deleteitem" (click)="unShowCodeHTML()">X</button>
  </div>
  <div class="cartcard" *ngIf="cartService.showCodeHTML && cartService.currentIndex === 1 && cartService.condizioni === 'usato'">
    <div class="cartgeneral">
      <img src="assets/prova.jpg" alt="img not load">
      <p class="carttitle">Fanale posteriore destro</p>
      <p class="cartspecific">Daewoo - PROVA 2 usatoChevrolet (05>07<)(07>09<) 800 Ber. 5p/b/796cc</p>
    </div>
    <div class="cartinfo">
      <p>700€</p>
    </div>
    <div class="cartinfo">
      <p>Novara</p>
    </div>
    <div class="cartinfo">
      <p>eccellente</p>
    </div>
    <button class="deleteitem" (click)="unShowCodeHTML()">X</button>
</div>
  <img class="categories" src="assets/carrellonuovo.png" alt="">
  <div class="cartheader">
    <p class="bigger"><b>IL TUO CARRELLO</b></p>
    <p>Prezzo</p>
    <p>Quantità</p>
    <p>Totale</p>
  </div>
  <div *ngIf="cartService.showCodeHTML=== false" class="emptymessage">
    Aggiungi nuovi articoli al carrello
  </div>
  <div class="cartcard" *ngIf="cartService.showCodeHTML && cartService.currentIndex === 0 && cartService.condizioni === 'nuovo'">
      <div class="cartgeneral">
        <img src="assets/prova.jpg" alt="img not load">
        <p class="carttitle">Fanale posteriore destro</p>
        <p class="cartspecific">Daewoo - PROVA nuovo MATIZ Chevrolet (05>07<)(07>09<) 800 Ber. 5p/b/796cc</p>
      </div>
      <div class="cartinfo">
        <p>700€</p>
      </div>
      <div class="cartinfo">
        <p>Novara</p>
      </div>
      <div class="cartinfo">
        <p>eccellente</p>
      </div>
      <button class="deleteitem" (click)="unShowCodeHTML()">X</button>
  </div>
  <div class="cartcard" *ngIf="cartService.showCodeHTML && cartService.currentIndex === 1 && cartService.condizioni === 'nuovo'">
    <div class="cartgeneral">
      <img src="assets/prova.jpg" alt="img not load">
      <p class="carttitle">Fanale posteriore destro</p>
      <p class="cartspecific">Daewoo - PROVA 2 nuovo Chevrolet (05>07<)(07>09<) 800 Ber. 5p/b/796cc</p>
    </div>
    <div class="cartinfo">
      <p>700€</p>
    </div>
    <div class="cartinfo">
      <p>Novara</p>
    </div>
    <div class="cartinfo">
      <p>eccellente</p>
    </div>
    <button class="deleteitem" (click)="unShowCodeHTML()">X</button>
  </div>
  <div class="carttotal">totale carrello: <b class="totalprice">700€</b><i class="piccolo">+spedizione</i>
  <br>
  <p class="paymetod">Modalità di pagamento: <img class="paylogo" src="assets/simbols/stripe-logo.svg" alt=""></p> <button class="checkout"><b>Paga ora</b></button>
  </div>
</div>

<app-footer></app-footer>
