

<div class="conimg">
  <img src="assets/servizi/vendita.jpg" alt="background image not loads">
</div>
<app-header class="up"></app-header>
<div class="testo">
  <h1>VENDITA RICAMBI</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit ipsum deleniti, cupiditate expedita, quo dignissimos maxime dolores enim dolorum quam odit possimus obcaecati eveniet, at assumenda similique nobis delectus aliquid.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae unde eveniet ipsum reprehenderit, facere suscipit ipsa quia necessitatibus repellendus corrupti natus, fugit similique quibusdam. Fuga magnam accusantium illum id temporibus!
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae voluptate veritatis ipsa error repudiandae autem optio iste! Perspiciatis sit veniam iure voluptatem numquam expedita, suscipit fugit similique officia. Accusantium, non!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, nobis? Maxime molestias tempora commodi unde aperiam et ut, cupiditate rem provident necessitatibus itaque iusto, magni repellendus illum expedita, voluptatibus sequi.
  </p>
</div>



<app-footer></app-footer>
