<div class="contenitore">
  <ul>
    <li><a routerLink="/demolizioni">Demolizioni</a></li>
    <li><a routerLink="/deposito">Deposito giudiziario</a></li>
    <li><a routerLink="/carrozzeria">Carrozzeria</a></li>
    <li><a routerLink="/gommista">Gommista</a></li>
    <li><a routerLink="/officina">Officina meccanica</a></li>
    <li><a routerLink="/ricambi">Vendita ricambi</a></li>
    <li><a routerLink="/vendita">Acquisto/vendita auto usate/sinistrate</a></li>
    <li><a routerLink="/bonifiche">Bonifiche e soccorsi stradali</a></li>
  </ul>
</div>
