<app-header></app-header>

<section aria-label="flyers-carousel">
  <div class="carousel" data-carousel>
    <button class="carousel-b prev" (click)="prevSlide()"><i class="fa-solid fa-square-caret-left"></i></button>
    <button class="carousel-b next" (click)="nextSlide()"><i class="fa-solid fa-square-caret-right"></i></button>

    <ul data-slides>
      <li class="slide" *ngFor="let slide of slides; let i = index" [ngClass]="{'active': i === activeIndex}">
        <img [src]="slide.image" [alt]="slide.alt" class="animation">
      </li>
    </ul>

  </div>
</section>
<div class="title">
  <h1>CHI SIAMO?</h1>
</div>
<div class="text">
  <p class="storia">
    Benvenuti nell'autodemolizioni Multiservice, azienda aperta dal 1998, specializzata in una vasta gamma di servizi automobilistici.
    Siamo il tuo partner affidabile per la vendita di ricambi nuovi e usati, bonifiche e soccorsi stradali, carrozzeria professionale, deposito giudiziario, servizi gommista e officina meccanica.
    Con oltre 25 anni di esperienza, ci dedichiamo alla soddisfazione del cliente e offriamo soluzioni personalizzate per le tue esigenze automobilistiche.
    Scopri il nostro impegno verso la professionalità, eccellenza e cura dei dettagli.
    Multiservice è la scelta di fiducia per i nostri clienti.
  </p>
  <h2 class="team">
    IL NOSTRO TEAM
  </h2>
  <h2 class="politica">
    POLITICA AZIENDALE
  </h2>
  <p class="policy">
    La missione di Multiservice è fornire soluzioni automobilistiche complete, di alta qualità e sostenibili, con un servizio clienti eccellente.
    Ci impegniamo ad essere leader nel settore, offrendo servizi innovativi e mantenendo relazioni di fiducia a lungo termine con clienti e partner.
    I nostri valori fondamentali sono integrità, eccellenza, sicurezza, orientamento al cliente ed innovazione.
    Siamo consapevoli del nostro impatto sull'ambiente ed adottiamo pratiche eco-sostenibili come il riciclaggio o il riutilizzo delle parti delle auto.
    Creiamo un ambiente di lavoro inclusivo, rispettoso e promuoviamo il rispetto delle leggi e normative vigenti per operare in modo legale ed etico. </p>
  <h2 class="marchi">
    MARCHI AFFILIATI
  </h2>

</div>

<app-carosello></app-carosello>

<app-carosello2></app-carosello2>


<app-footer></app-footer>

