
<body>
<section class="carosello">
  <div class="slider">
    <ul class="list">
      <li class="logo">
        <span><img src="assets/logocar/elv/adria.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/alpine.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/audi.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/bmw.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/burstner.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/carthago.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/commerciali.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/cupra.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/dacia.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/daf.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/daihatsu.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/dethleffs.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/ford.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/fordtrucks.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/greatwall.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/honda.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/hyundai.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/irizar.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/isuzu.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/jaguar.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/kia.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/landrover.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/lexus.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/mahindra.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/man.gif" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/mauri.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/maybach.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/mazda.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/mercedesbenz.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/mg.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/mini.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/mitsubishi.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/neoplan.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/nissan.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/polestar.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/porsche.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/renault.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/renaulttrucks.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/scania.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/seat.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/setra.jpg" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/skoda.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/smart.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/solaris.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/ssangyong.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/subaru.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/suzuki.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/toyota.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/vdl.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/volkswagen.png" alt="logo not load"></span>
      </li>
      <li class="logo">
        <span><img src="assets/logocar/elv/volvo.svg" alt="logo not load"></span>
      </li>
    </ul>
  </div>





</section>
</body>
